PORT=5050
CLIENT_URL=http://localhost:5050
TRANSLATION_PROVIDER=google_free

# Microsoft Translator option:
# TRANSLATION_PROVIDER=microsoft
MICROSOFT_TRANSLATOR_KEY=your_microsoft_translator_key
MICROSOFT_TRANSLATOR_REGION=your_resource_region
MICROSOFT_TRANSLATOR_ENDPOINT=https://api.cognitive.microsofttranslator.com
